<video src="/watch/getVideo/{{video.watchId}}" height=400 width=700 style="background-color: #000" controls></video>

<h2>{{video.title}}</h2><p>{{ video.views }} views</p>
<p>{{video.likes}} likes</p>