<video
height=400 
width=700 
style="background-color: #000"
class="video-js"
id="video"
controls
preload="auto"
data-setup="{}">
    <source src="/watch/getVideo/{{video.watchId}}" format="video/mp4"/>
    <p class="vjs-no-js">
      To view this video please enable JavaScript, and consider upgrading to a
      web browser that
      <a href="https://videojs.com/html5-video-support/" target="_blank"
        >supports HTML5 video</a
      >
    </p>
</video>

<h2>{{video.title}}</h2><p>{{ video.views }} views</p>
<p>{{video.likes}} likes</p>